<section class="turbo py-10">
    <div class="container mx-auto flex items-center justify-around py-4 px-20">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Are you hungry?</em></h6>
            <h1 class="text-5xl font-bold">Don't wait!</h1>
            <button class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-4">Order Now</button>
        </div>
        <div class="w-1/2">
            <img src="/img/poster.png" alt="">
        </div>
    </div>
</section>
<section class="menu container  py-5 px-20">
    <h1 class="text-xl font-bold">There is something for everyone! </h1>
</section>
<section class="container flex justify-around">
    <div>
        <ul class="flex">

            <li class="ml-7">
                <a href="#">
                    <div class="image_cat"><img src="/img/seafood.jpg" class="category" alt=""></div>
                    <h1 class="text-1xl font-bold">Seafood</h1>
                </a>
            </li>
            <li class="ml-7">
                <a href="#">
                    <div class="image_cat"><img src="/img/fastfood.jpg" class="category" alt=""></div>
                    <h1 class="text-1xl font-bold">Fast Food</h1>
                </a>
            </li>
            <li class="ml-7">
                <a href="#">
                    <div class="image_cat"><img src="/img/milk_tea.jpg" class="category" alt=""></div>
                    <h1 class="text-1xl font-bold">Bubble Tea</h1>
                </a>
            </li>
            <li class="ml-8">
                <a href="#">
                    <div class="image_cat"><img src="/img/dimsum.jpg" class="category" alt=""></div>
                    <h1 class="text-1xl font-bold">Dim Sum</h1>
                </a>
            </li>
        </ul>
    </div>
</section>
<br>
<section class="container  flex  justify-evenly ">
    <div>
        <ul class="flex items-center">

            <li class="ml-7">
                <a href="#">
                    <div class="image_cat"><img src="/img/noodle.jpg" class="category" alt=""></div>
                    <h1 class="text-1xl font-bold">Noodle</h1>
                </a>
            </li>
            <li class="ml-7">
                <a href="#">
                    <div class="image_cat"><img src="/img/healthy_food.jpg" class="category" alt=""></div>
                    <h1 class="text-1xl font-bold">Healthy Food</h1>
                </a>
            </li>
            <li class="ml-7">
                <a href="#">
                    <div class="image_cat"><img src="/img/khmer_food.jpg" class="category" alt=""></div>
                    <h1 class="text-1xl font-bold">Khmer Food</h1>
                </a>
            </li>
            <li class="ml-7">
                <a href="#">
                    <div class="image_cat"><img src="/img/streetfood.jpg" class="category" alt=""></div>
                    <img src=c lass="category" alt="">
                    <h1 class="text-1xl font-bold">Streetfood</h1>
                </a>
            </li>
        </ul>
    </div>
</section>
<br>
<section class="menu container  py-5 px-20">
    <h1 class="text-xl font-bold">Recommended for you!</h1>
</section>
<section>

</section>
<section class="recommened flex py-4 px-20 ">
    <div>
        <ul class="flex items-center justify-around">
            <li class="food_list rounded-md border">
                <a href="#">
                    <div class="food_img">
                        <img class=" object-covers md:object-scale-down rounded-t-lg " src="/img/chicken.jpg">
                    </div>
                    <div class="food_desflex lg rounded-b-lg ">
                        <div class="des flex justify-between">
                            <div>
                                <h2 class="text-base font-bold ">Fried Chicken</h2>
                            </div>
                            <div class="price font-bold text-base red"> 10$</div>
                        </div>
                        <div class="des flex justify-between ">
                            <span class="text-xs"><i>Original Flavor</i></span>
                            <span class="text-xs">KFC</span>
                        </div>
                        <div class="add_btn mt-2">
                            <center>
                                <button type="button" class="addcart py-1 px-4 rounded flex items-center font-bold mt-6s">
                                    <span>+</span>
                                    <span class="ml-1">ADD</span> 
                                </button>
                                <center>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_list rounded-md border ml-7  ">
                <a href="#">
                    <div class="food_img">
                        <img class=" object-covers md:object-scale-down rounded-t-lg " src="/img/beef_burger.jpg">
                    </div>
                    <div class="food_desflex lg rounded-b-lg ">
                        <div class="des flex justify-between">
                            <div>
                                <h2 class="text-base font-bold ">Beef Burger</h2>
                            </div>
                            <div class="price font-bold text-base red"> 6$</div>
                        </div>
                        <div class="des flex justify-between ">
                            <span class="text-xs"><i>Spicy</i></span>
                            <span class="text-xs">Grilled Beef</span>
                        </div>
                        <div class="add_btn mt-2">
                            <center>
                                <button type="button" class="addcart py-1 px-3 rounded flex items-center font-bold mt-6s">
                                    <span>+</span>
                                    <span class="ml-1">ADD</span> 
                                 </button>
                                <center>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_list rounded-md border ml-7  ">
                <a href="#">
                    <div class="food_img">
                        <img class=" object-covers md:object-scale-down rounded-t-lg " src="/img/seafood_salad.jpg">
                    </div>
                    <div class="food_desflex lg rounded-b-lg ">
                        <div class="des flex justify-between">
                            <div>
                                <h2 class="text-base font-bold ">Seafood Salad</h2>
                            </div>
                            <div class="price font-bold text-base red"> 10$</div>
                        </div>
                        <div class="des flex justify-between ">
                            <span class="text-xs"><i>Original Flavor</i></span>
                            <span class="text-xs">KFC</span>
                        </div>
                        <div class="add_btn mt-2">
                            <center>
                                <button type="button" class="addcart py-1 px-3 rounded flex items-center font-bold mt-6s">
                                    <span>+</span>
                                    <span class="ml-1">ADD</span> 
                                 </button>
                                <center>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_list rounded-md border ml-7  ">
                <a href="#">
                    <div class="food_img">
                        <img class=" object-covers md:object-scale-down rounded-t-lg " src="/img/vege_pizza.jpg">
                    </div>
                    <div class="food_desflex lg rounded-b-lg ">
                        <div class="des flex justify-between">
                            <div>
                                <h2 class="text-base font-bold ">Fried Chicken</h2>
                            </div>
                            <div class="price font-bold text-base red"> 10$</div>
                        </div>
                        <div class="des flex justify-between ">
                            <span class="text-xs"><i>Original Flavor</i></span>
                            <span class="text-xs">KFC</span>
                        </div>
                        <div class="add_btn mt-2">
                            <center>
                                <button type="button" class="addcart py-1 px-3 rounded flex items-center font-bold mt-6s">
                                    <span>+</span>
                                    <span class="ml-1">ADD</span> 
                                 </button>
                                <center>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>


</section>
<section class="recommened flex py-4 px-20 ">
    <div>
        <ul class="flex items-center justify-around">
            <li class="food_list rounded-md border">
                <a href="#">
                    <div class="food_img">
                        <img class=" object-covers md:object-scale-down rounded-t-lg " src="/img/chicken.jpg">
                    </div>
                    <div class="food_desflex lg rounded-b-lg ">
                        <div class="des flex justify-between">
                            <div>
                                <h2 class="text-base font-bold ">Fried Chicken</h2>
                            </div>
                            <div class="price font-bold text-base red"> 10$</div>
                        </div>
                        <div class="des flex justify-between ">
                            <span class="text-xs"><i>Original Flavor</i></span>
                            <span class="text-xs">KFC</span>
                        </div>
                        <div class="add_btn mt-2">
                            <center>
                                <button type="button" class="addcart py-1 px-4 rounded flex items-center font-bold mt-6s">
                                    <span>+</span>
                                    <span class="ml-1">ADD</span> 
                                </button>
                                <center>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_list rounded-md border ml-7  ">
                <a href="#">
                    <div class="food_img">
                        <img class=" object-covers md:object-scale-down rounded-t-lg " src="/img/beef_burger.jpg">
                    </div>
                    <div class="food_desflex lg rounded-b-lg ">
                        <div class="des flex justify-between">
                            <div>
                                <h2 class="text-base font-bold ">Beef Burger</h2>
                            </div>
                            <div class="price font-bold text-base red"> 6$</div>
                        </div>
                        <div class="des flex justify-between ">
                            <span class="text-xs"><i>Spicy</i></span>
                            <span class="text-xs">Grilled Beef</span>
                        </div>
                        <div class="add_btn mt-2">
                            <center>
                                <button type="button" class="addcart py-1 px-3 rounded flex items-center font-bold mt-6s">
                                    <span>+</span>
                                    <span class="ml-1">ADD</span> 
                                 </button>
                                <center>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_list rounded-md border ml-7  ">
                <a href="#">
                    <div class="food_img">
                        <img class=" object-covers md:object-scale-down rounded-t-lg " src="/img/seafood_salad.jpg">
                    </div>
                    <div class="food_desflex lg rounded-b-lg ">
                        <div class="des flex justify-between">
                            <div>
                                <h2 class="text-base font-bold ">Seafood Salad</h2>
                            </div>
                            <div class="price font-bold text-base red"> 10$</div>
                        </div>
                        <div class="des flex justify-between ">
                            <span class="text-xs"><i>Original Flavor</i></span>
                            <span class="text-xs">KFC</span>
                        </div>
                        <div class="add_btn mt-2">
                            <center>
                                <button type="button" class="addcart py-1 px-3 rounded flex items-center font-bold mt-6s">
                                    <span>+</span>
                                    <span class="ml-1">ADD</span> 
                                 </button>
                                <center>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_list rounded-md border ml-7  ">
                <a href="#">
                    <div class="food_img">
                        <img class=" object-covers md:object-scale-down rounded-t-lg " src="/img/vege_pizza.jpg">
                    </div>
                    <div class="food_desflex lg rounded-b-lg ">
                        <div class="des flex justify-between">
                            <div>
                                <h2 class="text-base font-bold ">Fried Chicken</h2>
                            </div>
                            <div class="price font-bold text-base red"> 10$</div>
                        </div>
                        <div class="des flex justify-between ">
                            <span class="text-xs"><i>Original Flavor</i></span>
                            <span class="text-xs">KFC</span>
                        </div>
                        <div class="add_btn mt-2">
                            <center>
                                <button type="button" class="addcart py-1 px-3 rounded flex items-center font-bold mt-6s">
                                    <span>+</span>
                                    <span class="ml-1">ADD</span> 
                                 </button>
                                <center>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
<section class="recommened flex py-4 px-20 ">
    <div>
        <ul class="flex items-center justify-around">
            <li class="food_list rounded-md border">
                <a href="#">
                    <div class="food_img">
                        <img class=" object-covers md:object-scale-down rounded-t-lg " src="/img/chicken.jpg">
                    </div>
                    <div class="food_desflex lg rounded-b-lg ">
                        <div class="des flex justify-between">
                            <div>
                                <h2 class="text-base font-bold ">Fried Chicken</h2>
                            </div>
                            <div class="price font-bold text-base red"> 10$</div>
                        </div>
                        <div class="des flex justify-between ">
                            <span class="text-xs"><i>Original Flavor</i></span>
                            <span class="text-xs">KFC</span>
                        </div>
                        <div class="add_btn mt-2">
                            <center>
                                <button type="button" class="addcart py-1 px-4 rounded flex items-center font-bold mt-6s">
                                    <span>+</span>
                                    <span class="ml-1">ADD</span> 
                                </button>
                                <center>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_list rounded-md border ml-7  ">
                <a href="#">
                    <div class="food_img">
                        <img class=" object-covers md:object-scale-down rounded-t-lg " src="/img/beef_burger.jpg">
                    </div>
                    <div class="food_desflex lg rounded-b-lg ">
                        <div class="des flex justify-between">
                            <div>
                                <h2 class="text-base font-bold ">Beef Burger</h2>
                            </div>
                            <div class="price font-bold text-base red"> 6$</div>
                        </div>
                        <div class="des flex justify-between ">
                            <span class="text-xs"><i>Spicy</i></span>
                            <span class="text-xs">Grilled Beef</span>
                        </div>
                        <div class="add_btn mt-2">
                            <center>
                                <button type="button" class="addcart py-1 px-3 rounded flex items-center font-bold mt-6s">
                                    <span>+</span>
                                    <span class="ml-1">ADD</span> 
                                 </button>
                                <center>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_list rounded-md border ml-7  ">
                <a href="#">
                    <div class="food_img">
                        <img class=" object-covers md:object-scale-down rounded-t-lg " src="/img/seafood_salad.jpg">
                    </div>
                    <div class="food_desflex lg rounded-b-lg ">
                        <div class="des flex justify-between">
                            <div>
                                <h2 class="text-base font-bold ">Seafood Salad</h2>
                            </div>
                            <div class="price font-bold text-base red"> 10$</div>
                        </div>
                        <div class="des flex justify-between ">
                            <span class="text-xs"><i>Original Flavor</i></span>
                            <span class="text-xs">KFC</span>
                        </div>
                        <div class="add_btn mt-2">
                            <center>
                                <button type="button" class="addcart py-1 px-3 rounded flex items-center font-bold mt-6s">
                                    <span>+</span>
                                    <span class="ml-1">ADD</span> 
                                 </button>
                                <center>
                        </div>
                    </div>
                </a>
            </li>
            <li class="food_list rounded-md border ml-7  ">
                <a href="#">
                    <div class="food_img">
                        <img class=" object-covers md:object-scale-down rounded-t-lg " src="/img/vege_pizza.jpg">
                    </div>
                    <div class="food_desflex lg rounded-b-lg ">
                        <div class="des flex justify-between">
                            <div>
                                <h2 class="text-base font-bold ">Fried Chicken</h2>
                            </div>
                            <div class="price font-bold text-base red"> 10$</div>
                        </div>
                        <div class="des flex justify-between ">
                            <span class="text-xs"><i>Original Flavor</i></span>
                            <span class="text-xs">KFC</span>
                        </div>
                        <div class="add_btn mt-2">
                            <center>
                                <button type="button" class="addcart py-1 px-3 rounded flex items-center font-bold mt-6s">
                                    <span>+</span>
                                    <span class="ml-1">ADD</span> 
                                </button>
                                <center>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <br><br>
    </div>

</section>
<footerS class="footer">

    <div class="background">
        <div class="classone flex">
            <div>
                <p>Tubo Food Order</p>
                <p>Working schedule</p>
                <p>Mon-Sat: 9:00am - 10:00pm</p>
                <p>Sun: 10:00am - 8:00pm</p>
            </div>
            <div>
                <p>Call us to make an order</p>
                <p>Don't be shy, we don't bite :)</p>
                <p>+855 12345678</p>
            </div>

        </div>
        <div class="classtwo">
            <div>
                All Rights Reserved.
            </div>
        </div>
    </div>
</footerS>