@import './variable.scss';
body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
    height: 4000px;
}

nav li:last-child a {
    background-color: $primary;
    &:hover {
        background: $primary-hover;
    }
}

nav li a {
    transition: all .3s ease-in-out;
    &:hover {
        color: $primary;
    }
}

section.turbo {
    background: $secondary;
}

.size {
    background: $secondary;
}

.addcart {
    border: 1px solid $primary;
    color: $primary;
    transition: smooth;
    &:hover {
        background-color: $primary;
        border-color: $pure;
        color: $pure;
    }
}

.price {
    color: $primary;
}