<section class="cart py-12">
    <!-- <div class="empty-cart py-13">
        <div class="conatiner mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">Cart Empty &#128546;</h1>
            <p class="text-gray-500 text-lg mb-12">You probably haven't ordered any food yet.
                <br> To order food, please go to main page</p>
            <center>
                <img class="w-2/5 " src="/img/empty_cart.png" alt="empty_cart">
            </center>

            <a href="/" class="btn inline-block px-6 py-2 rounded-full  font-bold mt-12">Go back</a>
        </div>
    </div> -->
    <div class="order container mx-auto px-12">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img class="object-fill h-18 w-12" src="/img/black_cart.png" alt="">
            <!-- <i class="fa fa-shopping-cart"></i> -->
            <h1 class="font-bold ml-2 text-xl">Order Summary</h1>
        </div>
        <div class="flex items-center my-8">
            <img class="w-24 rounded-lg" src="/img/chicken.jpg" alt="">
            <div class="flex-1 ml-4">
                <h1>Fried Chicken</h1>
                <span class="text-xs"><i>Original Flavor</i></span>
            </div>
            <span class="flex-1">1 Pcs</span>
            <span class="font-bold text-lg">10$</span>
        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Total Amount:</span>
                <span class="amount text-2xl font-bold ml-2">$10</span>
            </div>
            <div>
                <form action="" class="mt-12">
                    <input class="border border-gray-400 p-2 w-1/2 mb-4" type="text" placeholder="Phone Number">
                    <input class="border border-gray-400 p-2 w-1/2" type="text" placeholder="Address">

                    <div>
                        <button class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-6" type="submit">Order Now</button>

                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>